{% extends 'homepage.html' %}
{% load static %}

{% block content %}

<div class="container h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <main class="col-10 col-xs-10 col-sm-9 col-md-5 col-xl-4">
      <h1 class="h3 text-uppercase text-center mb-4">Login</h1>
      <form method="post">

          {% csrf_token %}

          {% if form.errors %}
              {{ form.errors }}
          {% endif %}

        <div class="form-floating mb-3">
            {{ form.username }}
          <label for="username" class="form-label"><i class="bi bi-person"></i>&nbsp;{{ form.username.label }}</label>
        </div>
        <div class="form-floating mb-3">
          {{ form.password }}
          <label for="passwd1" class="form-label"><i class="bi bi-key"></i>&nbsp;{{ form.password.label }}</label>
        </div>
        <div class="text-center mb-3">
          <a href="">Forgot password?</a>
        </div>

        <div class="text-center mb-3">
          Have no account?&nbsp;<a href={% url 'sign_up' %} class="text-decoration-none">Sign Up!</a>
        </div>

        <div class="d-flex justify-content-center mb-3">
          <button href="" class="btn btn-lg btn-primary">Sign In</button>
        </div>

      </form>
    </main>
  </div>
</div>

{% endblock content %}
